header, main, footer {
  background-color: greenyellow;
}

/* GENERAL CHILD SELECTOR: Select any/all descendants that are 'div' inside of 'header */
header div {
  display: flex;
  align-items: center;

  /* For spacing, use rems. */
  gap: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

h1 {
  /* For font-sizes use ems. */
  font-size: 3em;
  font-weight: 700;
}

nav ul {
  display: flex;
}

nav a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  background-color: goldenrod;
  padding: 1rem;
}

nav a:hover {
  background-color: darkgoldenrod;
}

main {
  margin: 1rem 0;
  padding: 1rem;
}